@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

@tailwind base;

body {
  font-family: 'Poppins';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 2.489rem; /* 39.84px */}

h2 {font-size: 2.074rem; /* 33.12px */}

h3 {font-size: 1.728rem; /* 27.68px */}

h4 {font-size: 1.440rem; /* 23.04px */}

h5 {font-size: 1.200rem; /* 19.2px */}

small {font-size: 0.833rem; /* 13.28px */}

@layer base {
  :root {
    --text: 43 90% 4%;
    --background: 45 100% 96%;
    --primary: 31 100% 50%;
    --secondary: 45 100% 92%;
    --accent: 18 93% 42%;
  }
  .dark {
    --text: 43 90% 96%;
    --background: 45 100% 4%;
    --primary: 31 100% 50%;
    --secondary: 45 100% 8%;
    --accent: 18 93% 58%;
  }
}

