@import "tailwindcss";

@theme {
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--font-mono:
		"iA Writer Duo", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;

	--text-xs: 0.878rem;
	--text-xs--line-height: 1.6;
	--text-sm: 0.937rem;
	--text-sm--line-height: 1.6;
	--text-base: 1rem;
	--text-base--line-height: 1.6;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: 45 100% 96%;
		--foreground: 31 58% 5%;
		--muted: 31 27% 87%;
		--muted-foreground: 45 17% 35%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 45 100% 4%;
			--foreground: 32.727 22% 80.392%;
			--muted: 32.727 57% 11%;
			--muted-foreground: 45 13% 58%;
		}

		.astro-code,
		.astro-code span {
			color: var(--shiki-dark) !important;
			background-color: var(--shiki-dark-bg) !important;
			/* Optional, if you also want font styles */
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}
}

@layer base {
	body {
		@apply box-border bg-background font-mono leading-relaxed text-foreground selection:bg-foreground selection:text-background;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	ul,
	ol {
		@apply pl-5;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	p,
	label,
	ul,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote {
		@apply mb-6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold leading-[1.15] tracking-[-0.022em];
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-12;
	}

	h1 {
		@apply uppercase;
	}

	h1,
	h2,
	h3 {
		@apply text-[1.476rem];
	}

	h3,
	h4,
	h5,
	h6 {
		@apply font-normal;
	}

	h4 {
		@apply text-[1.215rem];
	}

	h5,
	h6 {
		@apply text-base;
	}

	small {
		@apply text-sm;
	}

	hr {
		@apply border-muted-foreground/70;
	}

	label {
		@apply italic;
	}

	pre {
		@apply px-2 py-3;
	}

	code {
		@apply bg-muted-foreground px-0.5 font-mono text-muted;
	}

	blockquote {
		@apply my-4 w-fit border-l-4 bg-muted/20 pl-4 text-muted-foreground hover:bg-muted/40;
	}

	main p,
	main label,
	main span,
	main small,
	main b,
	main strong,
	main i,
	main u {
		@apply text-foreground/90;
	}

	pre code {
		@apply bg-transparent px-0 text-current;
	}
}
