---
import { Picture } from 'astro:assets'

import bmBlack from '@/assets/images/bm-black.svg'
import bmWhite from '@/assets/images/bm-white.svg'
import Link from '@/components/generic/Link.astro'
---

<footer class="mb-6 flex w-fit flex-col gap-4">
  <div class="flex flex-col gap-4 md:flex-row">
    <Link href="/licencia" class="text-muted-foreground">CC BY-NC-SA 4.0</Link>
    <Link
      href="https://github.com/Pkcarreno/homepage"
      class="text-muted-foreground">Código</Link
    >
    <Link href="/about-me" class="text-muted-foreground">English?</Link>
  </div>
  <Link
    href="https://brainmade.org/"
    unstyled
    class="bg-transparent hover:bg-transparent"
  >
    <Picture
      src={bmBlack}
      alt="Brain Made"
      width={128}
      formats={['avif', 'webp']}
      class="dark:hidden"
    />
    <Picture
      src={bmWhite}
      alt="Brain Made"
      width={128}
      formats={['avif', 'webp']}
      class="hidden dark:block"
    />
  </Link>
</footer>
