---
import type { ComponentProps } from "astro/types";

import Anchor from "@/components/generic/anchor.astro";
import BaseHead from "@/components/layout/base-head.astro";

interface Props {
  title: ComponentProps<typeof BaseHead>["title"];
}

const { title } = Astro.props;
---

<header class="flex flex-col flex-wrap items-baseline gap-2 sm:flex-row">
  <Anchor href="/" class="text-lg font-bold">PK</Anchor>
  {
        title && (
            <>
                <span class="hidden sm:block">-</span>
                <h1 class="text-muted-foreground m-0 text-sm font-light italic">
                    {title}
                </h1>
            </>
        )
    }
</header>
