---
import type { ComponentProps } from 'astro/types'

import Link from '@/components/generic/Link.astro'
import BaseHead from '@/components/layout/BaseHead.astro'

type Props = {
  title: ComponentProps<typeof BaseHead>['title']
}

const { title } = Astro.props
---

<header class="flex flex-col flex-wrap items-baseline gap-2 sm:flex-row">
  <Link href="/" class="text-lg font-bold">PK</Link>
  {
    title && (
      <>
        <span class="hidden sm:block">-</span>
        <h1 class="text-muted-foreground m-0 text-sm font-light italic">
          {title}
        </h1>
      </>
    )
  }
</header>
