---
import Link from '@/components/generic/Link.astro'
import Qr from '@/components/generic/Qr.astro'
---

<footer class="mb-6 flex w-fit flex-col items-end gap-4 md:flex-row">
  <div class="w-24 self-start">
    <Qr string={Astro.request.url} />
  </div>
  <div class="flex h-fit flex-col gap-4 p-0 leading-5 md:flex-row">
    <Link href="/licencia" class="text-muted-foreground">CC BY-NC-SA 4.0</Link>
    <Link
      href="https://github.com/Pkcarreno/homepage"
      class="text-muted-foreground">Código</Link
    >
    <Link href="/about-me" class="text-muted-foreground">English?</Link>
  </div>
</footer>
