---
import "@/global.css";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import Navigation from "@/components/molecules/navigation.astro";
import Footer from "@/components/organisms/footer.astro";
import Head from "@/components/organisms/head.astro";
import Header from "@/components/organisms/header.astro";

type Props = HTMLAttributes<"html"> & {
  meta: ComponentProps<typeof Head>["meta"];
  header?: ComponentProps<typeof Header>;
};

const { meta, header, lang = "en", ...props } = Astro.props;
---

<!doctype html>
<html lang={lang} {...props}>
  <Head meta={meta} />
  <body class="space-y-6 p-6 md:px-10 md:space-y-12 2xl:container">
    <Header pageTitle={header?.pageTitle} />

    <div class="flex flex-wrap gap-x-4 gap-y-6 md:gap-x-6 md:gap-y-8">
      <Navigation />

      <div class="w-full lg:ml-auto lg:w-fit">
        <main class="max-w-[800px] lg:w-[800px]">
          <slot>Empty slot </slot>
        </main>
      </div>
    </div>

    <Footer />
  </body>
</html>
