---
import Link from '@/components/ui/Link.astro'
import { navigations } from '@/utils/navigations'
---

<nav id="barra-navegacion">
  <label>Navegación</label>
  <ul class="list-outside list-none">
    {
      navigations.map(item => (
        <li class="mb-2">
          <Link {...item.linkProps}>{item.label}</Link>
        </li>
      ))
    }
  </ul>
</nav>
