---
import type { ComponentProps } from "astro/types";
import Template from "@/components/layouts/template.astro";

const description = "Page not found";

const metadata: ComponentProps<typeof Template>["meta"] = {
  title: "404 Error",
  description,
};

const structuredData: ComponentProps<typeof Template>["structuredData"] = {
  description,
};
---

<Template meta={metadata} structuredData={structuredData}>
  <h1>Upss...</h1>

  <p>It seems that this specific page does not exist.</p>
  <p>¯\(x_x)/¯</p>
</Template>
