---
import type { ComponentProps } from "astro/types";
import Template from "@/components/layouts/template.astro";

const metadata: ComponentProps<typeof Template>["meta"] = {
  title: "404 Error",
  description: "Page not found",
};
---

<Template meta={metadata}>
  <h1>Upss...</h1>

  <p>It seems that this specific page does not exist.</p>
  <p>¯\(x_x)/¯</p>
</Template>
