---
import Link from '@/components/ui/Link.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Contacto"
  description="Información para ponerse en contacto conmigo."
>
  <p>
    Los enlaces a mis redes se encuentran en la <Link href="#barra-navegacion"
      >barra de navegación</Link
    > y si tienes alguna inquietud o consulta, puedes conseguirme a través de mi
    <Link href="mailto:pkcarrenodev@gmail.com">correo</Link>.
  </p>
</Layout>
