---
import { getContacts } from "@/api/data";
import Anchor from "@/components/generic/anchor.astro";
import Qr from "@/components/generic/qr.astro";
import Layout from "@/layouts/layout.astro";
import { cn } from "@/utils";

const contacts = getContacts();
---

<Layout
  title="Contacto"
  description="Información para ponerse en contacto conmigo."
>
  {
        contacts.map((contact, index) => (
            <div>
                <h2 class={cn(index === 0 && "mt-0")}>{contact.label}</h2>
                <div class="w-36">
                    <Qr string={contact.link.href} />
                </div>
                <Anchor href={contact.link.href}>{contact.link.label}</Anchor>
            </div>
        ))
    }
</Layout>
