---
import Content from '../components/Content.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import Li from '../components/Li.astro';
import ProjectItem from '../components/ProjectItem.astro';
import Ul from '../components/Ul.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main class="pt-24 flex justify-center mx-8 mb-9">
    <div class="w-full max-w-md"> 
      <h1 class="font-bold text-5xl mb-2">Pedro Carreño</h1>
      <h2 class="text-xl mb-5 font-medium">System Engineer & Web Developer</h2>
      <p class="font-light">
        I'm a software developer with experience in building websites and mobile applications. I specialized in JavaScript and have professional experience working with Vue, React and React Native. I also have technical skills with Laravel, Python, Linux and the Supabase and Firebase platforms.
      </p>
    </div>
	</main>

  <section class="flex justify-center mx-8 mb-12">
    <div class="w-full max-w-md">
      <Content title="Experience">
        <ExperienceItem job="Mobile Developer" at="Grupo Avanza SPA" atUrl="https://www.linkedin.com/company/avanza-consultores" from="Dec 2021" to="present">
          <Ul>
            <Li>Developed mobile applications based on existing web platforms</Li> 
            <Li>App Store and Google Play Store Management</Li>
            <Li>Integration with FCM-based notification system for iOS and Android</Li>
          </Ul>
        </ExperienceItem>
        <ExperienceItem job="Web Developer" at="S2H Tech" from="Feb 2021" to="Nov 2021" end>
          <Ul>
            <Li>Developed web solutions that were designed, coded and tested</Li>
            <Li>I proposed ideas to improve the application</Li>
            <Li>Working with Vue.Js, Laravel, PWA features and shared hosting management</Li>
          </Ul>
        </ExperienceItem>
      </Content>
    </div>
  </section>

  <section class="flex justify-center mx-8 mb-12">
    <div class="w-full max-w-md">
      <Content title="Popular Projects">
        <ProjectItem title="Humberto Juarez's web portfolio" url="https://www.juarezhumberto.com/" date="2021">
          <Ul>
            <Li>Highlighted works</Li>
            <Li>Multilanguage</Li>
            <Li>Contact Methods</Li>
          </Ul>
          <p class="mt-1">Stack: React.js, Typescript, Netlify and Supabase</p>
        </ProjectItem>
        <ProjectItem title="BoxSystem" url="https://spoiler.boxsystem.online/" date="2021" end>
          <Ul>
            <Li>Administrative system</Li>
            <Li>Control and solvency of payments</Li>
            <Li>Control of Attendance</Li>
            <Li>Inventory</Li>
            <Li>PWA</Li>
          </Ul>
          <p class="mt-1">Stack: Vue.js and Laravel (backend)</p>
        </ProjectItem>
      </Content>
    </div>
  </section>
</Layout>
