---
import Content from '../components/Content.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import Li from '../components/Li.astro';
import ProjectItem from '../components/ProjectItem.astro';
import Ul from '../components/Ul.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main class="pt-24 flex justify-center mx-8 mb-9">
    <div class="w-full max-w-md"> 
      <div class="mb-5">
        <h1 class="mb-2">Pedro Carreño</h1>
        <span class="text-xl bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent">System Engineer & Web Developer</span>
      </div>
      <p class="leading-relaxed">
        I'm a software developer with experience in building websites and mobile applications. I specialized in JavaScript and have professional experience working with Vue, React and React Native. I also have technical skills with Laravel, Python, Linux and the Supabase and Firebase platforms.
      </p>
    </div>
  </main>

  <section class="flex justify-center mx-8 mb-12">
    <div class="w-full max-w-md">
      <Content title="Experience">
        <ExperienceItem job="Mobile Developer" at="Grupo Avanza SPA" atUrl="https://www.linkedin.com/company/avanza-consultores" from="Dec 2021" to="present">
          <Ul>
            <Li>Designed and implemented architecture for mobile apps.</Li> 
            <Li>Developed mobile applications based on web platforms of the company services.</Li>
            <Li>Deployed and maintained iOS & Android app stores.</Li>
            <Li>Created high-converting landing pages for company products.</Li>
            <Li>Collaborated with clients for tailored product solutions.</Li>
          </Ul>
        </ExperienceItem>
        <ExperienceItem job="Web Developer" at="S2H Tech" from="Feb 2021" to="Nov 2021" end>
          <Ul>
            <Li>Designed and built a comprehensive dashboard and management platform for a crossfit box, including payment, user, classes and inventory modules.</Li>
            <Li>Developed the system with Vue.js, Laravel and MySQL, complete with PWA features.</Li>
            <Li>Supported backend duties by creating APIs, modeling database tables and optimizing system architecture.</Li>
          </Ul>
        </ExperienceItem>
      </Content>
    </div>
  </section>

  <section class="flex justify-center mx-8 mb-12">
    <div class="w-full max-w-md">
      <Content title="Popular Projects">
        <ProjectItem title="Humberto Juarez's web portfolio" url="https://www.juarezhumberto.com/" date="2021">
          <Ul>
            <Li>Highlighted works</Li>
            <Li>Multilanguage</Li>
            <Li>Contact Methods</Li>
          </Ul>
          <p class="mt-1">Stack: React.js, Typescript, Netlify and Supabase</p>
        </ProjectItem>
        <ProjectItem title="BoxSystem" url="https://spoiler.boxsystem.online/" date="2021" end>
          <Ul>
            <Li>Administrative system</Li>
            <Li>Control and solvency of payments</Li>
            <Li>Control of Attendance</Li>
            <Li>Inventory</Li>
            <Li>PWA</Li>
          </Ul>
          <p class="mt-1">Stack: Vue.js and Laravel (backend)</p>
        </ProjectItem>
      </Content>
    </div>
  </section>
</Layout>
