---
import Link from '@/components/generic/Link.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllEscritos } from '@/utils/collections'

const entries = await getAllEscritos()
---

<Layout
  title="Intro"
  description="Blog de Pedro Carreño, donde se comparte contenido sobre desarrollo, software libre y privacidad. Además, están expuestos algunos proyectos destacados."
  metaTitle="Pedro Carreño"
  withoutTitleTemplate
>
  <h1>Pedro Carreño</h1>

  <p>Bienvenido a mi sitio.</p>

  <p>
    Este es mi pequeño jardín de experimentación. Iré subiendo algunos <Link
      href="/escritos">escritos</Link
    >
    de lo que se me cruce por la cabeza en temas relacionados con tecnología, programación
    y privacidad cada tanto. Además de ir expandiendo el sitio con varias ideas que
    tengo en mente.
  </p>

  <p>
    Todavía es un proyecto en construcción. Puedes subscribirte al <Link
      href="/rss">feed RSS</Link
    > para estar al tanto con cualquier novedad.
  </p>

  <br />

  <section aria-labelledby="Mis últimos escritos">
    <h2>Mis últimos escritos</h2>
    <div class="flex flex-col gap-4">
      {
        entries.splice(0, 5).map(entry => (
          <div class="space-x-5">
            <small class="text-muted-foreground text-xs">
              {entry.data.pubDate instanceof Date
                ? entry.data.pubDate.toLocaleDateString()
                : entry.data.pubDate}
            </small>
            <Link href={`/escritos/${entry.id}`}>{entry.data.title}</Link>
          </div>
        ))
      }
      <Link class="w-fit" href="/escritos">Ver todos</Link>
    </div>
  </section>
</Layout>
