---
import Link from '@/components/ui/Link.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Licencia"
  description="Detalles sobre el licenciamiento del sitio."
>
  <p>Este blog utiliza un modelo de doble licencia</p>

  <p>
    Para el contenido original de este blog está bajo licencia <Link
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"
      >Creative Commons BY-NC-SA</Link
    > salvo que se indique lo contrario. Las imágenes y otros materiales no
    originales son propiedad de sus respectivos autores, a los que intentará
    darse crédito cuando sea posible.
  </p>

  <label>Condiciones de la licencia:</label>

  <ul>
    <li>
      <span>Atribución</span>
      <span>-</span>
      <span
        >Usted debe dar crédito de manera adecuada , brindar un enlace a la
        licencia, e indicar si se han realizado cambios . Puede hacerlo en
        cualquier forma razonable, pero no de forma tal que sugiera que usted o
        su uso tienen el apoyo de la licenciante.</span
      >
    </li>
    <li>
      <span>NoComercial</span>
      <span>-</span>
      <span
        >Usted no puede hacer uso del material con propósitos comerciales.</span
      >
    </li>
    <li>
      <span>CompartirIgual</span>
      <span>-</span>
      <span
        >Si remezcla, transforma o crea a partir del material, debe distribuir
        su contribución bajo la la misma licencia del original.</span
      >
    </li>
    <li>
      <span>No hay restricciones adicionales</span>
      <span>-</span>
      <span
        >No puede aplicar términos legales ni medidas tecnológicas que
        restrinjan legalmente a otras a hacer cualquier uso permitido por la
        licencia.</span
      >
    </li>
  </ul>

  <p>
    <Link href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.es"
      >Código legal de la licencia CC BY-NC-SA</Link
    >
  </p>

  <p>
    Por otro lado, el código detrás de este blog se encuentra bajo la licencia
    MIT y puedes acceder a la fuente del mismo <Link
      href="https://github.com/Pkcarreno/homepage/blob/master/LICENSE"
      >desde aquí</Link
    >.
  </p>
</Layout>
