---
import { getProjects } from '@/api/data'
import Link from '@/components/generic/Link.astro'
import Layout from '@/layouts/Layout.astro'

const projects = await getProjects()
---

<Layout
  title="Proyectos"
  description="Lista de utilidades desarrolladas por Pedro Carreño y que son Open Source. Estas pueden ser utilidades web o herramientas CLI."
>
  <p>
    Tengo <Link href="https://github.com/Pkcarreno?tab=repositories"
      >varias ideas</Link
    > que quiero llevar a cabo, pero mientras solo mostraré las que consideré en
    estado de uso.
  </p>

  <br />

  <ul class="list-none p-0">
    {
      projects.list.map(project => (
        <li class="flex flex-col space-y-1">
          <Link href={project.url} class="w-fit text-lg font-bold capitalize">
            {project.title}
          </Link>
          <small class="text-muted-foreground text-xs">
            {project.description.es}
          </small>
        </li>
      ))
    }
  </ul>
</Layout>
