---
import myImage from '@/assets/images/photo_1.jpg'
import Image from '@/components/generic/Image.astro'
import Link from '@/components/generic/Link.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Sobre mí"
  description="Perfil profesional de Pedro Carreño como desarrollador y entusiasta del software libre."
>
  <Image
    src={myImage}
    title="Foto de una playa que me gusta"
    alt="Foto de una playa que me gusta"
  />
  <p>
    Fabricado en Venezuela a finales de los años 90. Mi nombre es Pedro. Soy
    desarrollador Front-End y de aplicaciones móviles con más de 4 años de
    experiencia profesional. He liderado el desarrollo del Front-End de
    plataformas complejas y altamente dinámicas usando las tecnologías React.js,
    Next.js y Vue.js, así como también, aplicaciones para dispositivos móviles
    con React Native (y Expo).
  </p>
  <p>
    Me encanta la tecnología, la filosofía, la historia, la música y los
    videojuegos. Me entusiasma el código abierto, Linux y el minimalismo porque
    combinan varias de mis pasiones. He migrado mi flujo de trabajo digital a
    software libre y me he involucrado en los proyectos con los que me
    identifico y me aportan valor en mi día a día. De igual manera, trato de
    crear <Link href="https://github.com/Pkcarreno?tab=repositories"
      >herramientas libres</Link
    > que puedan resultar de utilidad.
  </p>

  <p>
    Este es mi blog personal donde pretendo compartir contenido en temas de mi
    interés como desarrollo, software libre y privacidad. No había tenido una
    excusa para tener un blog porque «ya consigo el contenido que me interesa»,
    pero casi todo está en inglés y resulta una travesía conseguir contenido de
    valor en español, por esa razón estoy enfocando mi blog a la comunidad
    hispana. Además, me gusta mucho esta idea de las <Link
      href="https://smallweb.page/why">small webs</Link
    >.
  </p>

  <p>
    <b>Nota</b>: puedes conseguir los enlaces a mis redes en la <Link
      href="#barra-navegacion">barra de navegación</Link
    >.
  </p>

  <section aria-labelledby="Experiencia Profesional">
    <h2>Experiencia Profesional</h2>
    <ul>
      <li class="flex flex-col gap-1">
        <div class="flex flex-col items-baseline gap-2 md:flex-row">
          <Link href="https://www.linkedin.com/company/avanza-consultores"
            >Grupo Avanza</Link
          >
          <small class="text-xs text-muted-foreground">2021 - presente</small>
        </div>
        <i class="text-sm">Desarrollador Front-End y Movil</i>
      </li>
      <li class="flex flex-col gap-1">
        <div class="flex flex-col items-baseline gap-2 md:flex-row">
          <Link href="https://www.sergioboggio.com/">Sergio Boggio</Link>
          <small class="text-xs text-muted-foreground">2025</small>
        </div>
        <i class="text-sm">Desarrollador Front-End Freelance</i>
      </li>
      <li class="flex flex-col gap-1">
        <div class="flex flex-col items-baseline gap-2 md:flex-row">
          <Link href="https://www.linkedin.com/company/flockfysh"
            >flockfysh</Link
          >
          <small class="text-xs text-muted-foreground">2023</small>
        </div>
        <i class="text-sm">Desarrollador Front-End</i>
      </li>
      <li class="flex flex-col gap-1">
        <div class="flex flex-col items-baseline gap-2 md:flex-row">
          <Link href="https://www.juarezhumberto.com/es/">Humberto Juarez</Link>
          <small class="text-xs text-muted-foreground">2021</small>
        </div>
        <i class="text-sm">Desarrollador Front-End Freelance</i>
      </li>
      <li class="flex flex-col gap-1">
        <div class="flex flex-col items-baseline gap-2 md:flex-row">
          <span>S2H Tech</span>
          <small class="text-xs text-muted-foreground">2021</small>
        </div>
        <i class="text-sm">Desarrollador Front-End</i>
      </li>
    </ul>
  </section>

  <aside>
    <p>
      Si quieres ver mis proyectos personales, te invito a revisar la sección de <Link
        href="/proyectos">proyectos</Link
      >.
    </p>
  </aside>
</Layout>
