---
import { HOMEPAGE_URL } from '../config'
const today = new Date()
---

<footer class="flex flex-col justify-center items-center mx-8">
  <div class="w-full max-w-md flex flex-row mb-6">
    <div class="flex flex-1 flex-col">
      <a class="mb-2" target="_blank" href="https://github.com/Pkcarreno">Github</a>
      <a class="mb-2" target="_blank" href="https://www.linkedin.com/in/pkcarreno/">Linkedin</a>
      <a target="_blank" href="https://twitter.com/Pkcarreno">Twitter</a>
    </div>
    {/* <div class="flex flex-1 flex-col">
      <a target="_blank" href="/">Download</a>
    </div> */}
  </div>

  <div class="text-zinc-500 p-4 text-center">
    &copy; {today.getFullYear()}
    <a href={HOMEPAGE_URL}>Pedro Carreño</a>. All rights reserved.
  </div>
</footer>
