---
import { HOMEPAGE_URL } from '../config'
const today = new Date()
---

<footer class="flex flex-col justify-center items-center mx-8">
  <div class="w-full max-w-lg flex flex-row mb-6">
    <div class="flex flex-1 flex-col underline-offset-4 dark:decoration-accent">
      <a class="mb-2 hover:underline" target="_blank" href="https://github.com/Pkcarreno">Github</a>
      <a class="mb-2 hover:underline" target="_blank" href="https://www.linkedin.com/in/pkcarreno/">Linkedin</a>
      <a class="hover:underline" target="_blank" rel="me" href="https://mastodon.social/@Pkcarreno">Mastodon</a>
    </div>
    <div class="flex flex-1 flex-col underline-offset-4 dark:decoration-accent">
      <a class="hover:underline" target="_blank" href="https://github.com/Pkcarreno/homepage-v2">Source</a>
    </div>
  </div>

  <div class="text-text/60 p-4 text-center font-light">
    &copy; {today.getFullYear()}{" "}
    <a href={HOMEPAGE_URL}>Pedro Carreño</a>. All rights reserved.
  </div>
</footer>
