---
import ThemeToggler from "./ThemeToggleButton";
---
<header class="fixed w-full p-2 z-20 flex flex-row justify-center">
  <div class="mx-8 max-w-5xl flex flex-1 flex-row justify-end">
    <ThemeToggler client:load/>
  </div>
</header>
