---
const {title, url, date, end} = Astro.props
---

<div>
  <div class="flex flex-1 justify-between mb-3">
    <h4 class="font-normal">
      {url ? (
        <a href={url} target="_blank" class="hover:underline underline-offset-4 dark:decoration-primary">{title}</a>
      ) : (
        <>{title}</>
      )}
    </h4>
    <p class="italic text-text/70">{date}</p>
  </div>

  <div class="pl-4 mb-2">
    <slot />
  </div>
  {!end && (
    <div class="border-b border-b-primary mb-2"/>
  )}
</div>
