---
import Anchor from "@/components/atoms/anchor.astro";
---

<aside>
  <nav>
    <ul class="list-none m-0 p-0">
      <li>
        <Anchor href="/now">now</Anchor>
      </li>
      <li>
        <Anchor href="/about">about</Anchor>
      </li>
      <li>
        <Anchor href="/journal">journal</Anchor>
      </li>
      <li>
        <Anchor href="/projects">projects</Anchor>
      </li>
      <li>
        <Anchor rel="me" href="https://mastodon.social/@Pkcarreno">
          mastodon
        </Anchor>
      </li>
      <li>
        <Anchor href="https://github.com/Pkcarreno">github</Anchor>
      </li>
      <li>
        <Anchor href="/contact">contact</Anchor>
      </li>
      <li>
        <Anchor href="/rss/journal.xml">rss</Anchor>
      </li>
    </ul>
  </nav>
</aside>
