---
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} desctription={SITE_DESCRIPTION} />
	</head>
	<Body>
    <Header />
		<slot />
	</Body>
</html>
